details {
    margin-bottom: 10px;
}

details summary {
    padding: 0 10px;
    background: #000;
    color: #fff;
    height: auto;
    line-height: 35px;
    font-weight: bold;
    cursor: pointer;
    width: auto;
}

details summary::marker {
    font-size: 0;
}

details summary:hover {
    transform: translateY(5px);
}

details ul {
    border: 0px solid #aaa;
    animation: fadein 3s;
    width: auto;
}

details ul li {
    display: block;
    background-color: #333;
    padding: 5px 10px;
    color: #fff;
    list-style: none;
    padding-left: 0px;
    width: auto;
}

details .txt {
    border: 1px solid #999;
    padding: 5px 10px;
    position: relative;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}