#about {
  background-color: #333;
}

#about_div {
  color: white;
  font-size: 30px;
  padding-left: 5%;
  /* animation-duration: 1s;
  animation-name: slide-bottom; */
}

#who_we_are {
  animation-duration: 1.5s;
  animation-name: tracking_top;
}

details {
  margin-bottom: 10px;
}

details summary {
  padding: 0 10px;
  background: #000;
  color: #fff;
  height: auto;
  line-height: 35px;
  font-weight: bold;
  cursor: pointer;
  width: auto;
}

details summary::marker {
  font-size: 0;
}

details summary:hover {
  transform: translateY(5px);
}

details ul {
  border: 0px solid #aaa;
  animation: fadein 3s;
  text-align: center;
  width: auto;
}

details ul li {
  display: block;
  background-color: #333;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  list-style: none;
  padding-left: 0px;
  width: 92%;
}

details .txt {
  border: 1px solid #999;
  padding: 5px 10px;
  text-align: center;
  position: relative;
}

/* @keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
} */

@keyframes tracking_top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}